@layer generic, elements, components, utils;
@import url('./reset.css') layer(generic);

@layer elements {
  button {
    all: unset;
    cursor: pointer;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

@layer components {
  .switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    &[aria-checked='true'] {
      background-color: green;
    }
  }
}

@layer utils {
  .scr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

:root {
  --clr-background: #f4efec;
  --clr-foreground: #25211d;
  --clr-border: #a39f9b;
  --clr-card: #fbfbfa;
}

body {
  width: 31.25rem;
  /* Set hight to prevent weird extension's height shrink */
  height: 500px;
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--clr-foreground);
  background-color: var(--clr-background);
}

:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

#root {
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.page__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.page__header-action {
}

.search {
  flex: 1;
}

.videos {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.videos__list {
  overflow: auto;
}

.video {
  &[open] {
    & .video-header__marker {
      rotate: 90deg;
    }
  }
}
.video-header__marker {
  inline-size: 18px;
  aspect-ratio: 1;
  flex-shrink: 0;
  transition: rotate 0.2s ease-in-out;
}
.video-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.video__header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.video__thumbnail {
  inline-size: 100px;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}
.video__title {
  display: inline;
}
.video__list {
  & li {
    padding-block: 0.625rem;
    &:not(:first-child) {
      border-top: 1px solid var(--clr-border);
    }
    /* &:nth-child(odd) {
      background-color: var(--clr-card);
    } */
  }
}
.video__bookmarks-sort-btn {
  &:has(:checked) {
    border: 1px solid #000;
  }
}

.bm {
  inline-size: 100%;
  display: flex;
  gap: 0.625rem;
}
.bm__color {
  position: relative;
  display: block;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  border-radius: 50%;
  &:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
  }
}
.bm__color-input {
  inset-inline-end: 0;
  inset-block-end: 0;
}
.bm__title {
  margin-block-end: 0.625rem;
}
.bm__action {
}

.bm-color-picker {
  position: absolute;
  inset-inline-start: 10px;
  position-area: inline-end;
}
.bm-color-picker__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.bm-color-picker__color-option {
  display: block;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  border: 2px solid #cecece;
  border-radius: 50%;
  cursor: pointer;
  &:has(input:checked) {
    border-color: black;
  }
  &:focus-within {
    outline: 2px solid blue;
    outline-offset: 2px;
  }
}
